{% extends 'index.html' %}

{% block content %}

        <h1>Регистрация</h1>
        <a class="mt-4" href="/">вернуться назад</a><br>


<div class="col-4">
<form id="add_form"  method="post">
              {% csrf_token %}
              {{ form }}

          </form>
<button form="add_form" type="submit" class="btn btn-primary mt-4">Зарегистрироваться</button>


</div>

{% endblock content %}
